[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/kiszka
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/kiszka
	label-Verified = -1..+1 group user/kiszka
	push = group user/kiszka
	read = group user/kiszka
	rebase = group user/kiszka
	removeReviewer = group user/kiszka
	submit = group user/kiszka
[access "refs/heads/*"]
	create = group user/kiszka
	push = +force group user/kiszka
	pushMerge = group user/kiszka
	read = group user/kiszka
[access "refs/tags/*"]
	push = group user/kiszka
	push = +force group user/kiszka
